.nav {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background-color: var(--inputs);
}

.link {
    color: var(--main);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link:hover {
    color: var(--button);
}

.isActive {
    color: var(--button-hover);
}